[submodule "photo-tools"]
	path = tools/photo-tools
	url = git@github.com:EarthChen/photo-tools.git
[submodule "pdf2png"]
	path = tools/pdf2png
	url = git@github.com:EarthChen/pdf2png.git
[submodule "json-tools"]
	path = tools/json-tools
	url = git@github.com:EarthChen/json-tools.git
[submodule "excelcsv-tool"]
	path = tools/excelcsv-tool
	url = git@github.com:EarthChen/excelcsv-tool.git
