[submodule "photo-tools"]
	path = photo-tools
	url = git@github.com:EarthChen/photo-tools.git
[submodule "pdf2png"]
	path = pdf2png
	url = git@github.com:EarthChen/pdf2png.git
[submodule "json-tools"]
	path = json-tools
	url = git@github.com:EarthChen/json-tools.git
[submodule "excelcsv-tool"]
	path = excelcsv-tool
	url = git@github.com:EarthChen/excelcsv-tool.git
